[Unit]
 Description=sys2mqtt v0.3.0 - Publish system stats to your MQTT Broker

 [Service]
 ExecStart=/usr/local/bin/sys2mqtt/python/sys2mqtt.py

 [Install]
 WantedBy=multi-user.target
