[Unit]
 Description=sys2mqtt v0.3.0 - Publish system stats to your MQTT Broker
 After=network-online.target

[Service]
 ExecStart=/usr/local/bin/sys2mqtt/python/sys2mqtt.py
 KillSignal=SIGINT
[Install]
 WantedBy=multi-user.target
